<div class="d-grid gap-2 col-6 mx-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="row justify-content-end">
          <div class="col">
            <h1 class="h2"> Renew The Plan </h1>
          </div>
            </div>
          </div>
          </div>
    <div class="row">
      <div class="col-12">
        </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Member Id </label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="type your member id here">
        </div>
        <label for="exampleFormControlInput1" class="form-label"> Choose Plan </label>
        <select class="form-select" aria-label="Default select example">
          <option selected> select </option>
          <option value="1"> Rs.1450 </option>
          <option value="2"> Rs.3500 </option>
        </select>
        <div>
          <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button"> PAY </button>
          </div>
        </div>
        </div>