<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row justify-content-end">
      <div class="col">
        <h1 class="h2">Dashboard</h1>
      </div>
        </div>
      </div>
<div class="row">
  <div class="col-12">
    </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <h5>About Test Series</h5>
        <div class="card mb-3">
          <img src="kambleshwarlogo - Copy.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h5>Apply For Test Series </h5>
        <form>
          <div class="col-12">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> Students Name </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type Name here">
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"> Contact Number </label>
              <input type="mobile number" class="form-control" id="exampleFormControlInput1" placeholder="type mobile Number here">
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"> Full Adreess </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="write full addres here">
              </div>
          <label for="exampleFormControlInput1" class="form-label"> Choose The Type </label>
          <select class="form-select" aria-label="Default select example">
            <option selected> select </option>
            <option value="1"> Aptitude</option>
            <option value="2"> Attitude </option>
            <option value="2"> class 9 to 10 </option>
          </select>
            <div class="col-12">
            <button class="btn btn-primary" type="button"> Submit </button>
            </div>
          </div>
          </div>
          </div>
</form>
      </div>
    </div>