<button class="btn btn-primary float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Sent Invite</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Sent Invite to BC</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    @defer{
        <app-common-master url="company/invite" title="Invite" btnTitle="Sent Invite"
         [inputConfigurations]="inputConfigurationsData"></app-common-master>    
    }
  </div>
</div>

<div class="mt-5">
    @defer{
        <app-data-table url="company/bc_user" [displayedColumns]="displayedColumns"
         ></app-data-table>    
    }
</div>

