<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row justify-content-end">
      <div class="col">
        <h1 class="h2"> Our Awesome Products </h1>
      </div>
        </div>
      </div>
<div class="row">
  <div class="col-12">
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <h5> Grampanchayt Website </h5>
            <div class="card mb-3">
              <img src="kambleshwarlogo - Copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-sm"> Read More </button>
                <button type="button" class="btn btn-primary btn-sm"> Apply </button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <h5> Basic English</h5>
            <div class="card mb-3">
              <img src="kambleshwarlogo - Copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-sm"> Read More </button>
                <button type="button" class="btn btn-primary btn-sm"> Apply </button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <h5> Sciece Learning Strategy </h5>
            <div class="card mb-3">
              <img src="kambleshwarlogo - Copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-sm"> Read More </button>
                <button type="button" class="btn btn-primary btn-sm"> Apply </button>
              </div>
            </div>
          </div>
        </div>