
<section class="home-section">
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <nav
    >
    <app-side-menu></app-side-menu>
    </nav>
    <main>
      <ng-http-loader
        [backdrop]="false"
        [backgroundColor]="'#0000fe'"
        [debounceDelay]="100"
        [extraDuration]="300"
        [minDuration]="300"
        [opacity]="'0.6'"
        [backdropBackgroundColor]="'#777777'"
        [spinner]="spinkit.skWave"
      ></ng-http-loader>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
</section>