<div class="sidebar close">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">CodingLab</span>
  </div>
  <ul class="nav-links">
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" [routerLink]="['/admin/dashboard']">
        <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li>
          <a class="nav-link" [routerLink]="['/admin/dashboard']">
            <span class="fs-6 ms-2 d-none d-sm-inline">DASHBOARD</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <div class="iocn-link">
        <a class="nav-link">
          <i class="bx bx-collection"></i>
          <span class="link_name">Matrimony</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Matrimony</a></li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/matrimony/new-registration']"
          >
            New Registration</a
          >
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/admin/matrimony/renew']">
            Renew</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <div class="iocn-link">
        <a class="nav-link">
          <i class="bx bx-collection"></i>
          <span class="link_name">Website & App Development</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>

      <ul class="sub-menu">
        <li><a class="link_name" href="#">Website & App Development</a></li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/website-app-development/new-requirement']"
          >
            New Requirement</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/website-app-development/products']"
          >
            Products</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <div class="iocn-link">
        <a class="nav-link">
          <i class="bx bx-collection"></i>
          <span class="link_name">iSmart Education</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>

      <ul class="sub-menu">
        <li><a class="link_name" href="#">iSmart Education</a></li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/i-smart-education/courses']"
            >Courses</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/i-smart-education/talent-search-exam']"
          >
            Talent Search Exam</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/i-smart-education/test-series']"
          >
            Test Series</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/i-smart-education/counseling']"
          >
            counseling</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <div class="iocn-link">
        <a class="nav-link">
          <i class="bx bx-collection"></i>
          <span class="link_name">Adway's Digital Marketing</span> </a
        ><i class="bx bxs-chevron-down arrow"></i>
      </div>

      <ul class="sub-menu">
        <li><a class="link_name" href="#">Adway's Digital Marketing</a></li>
        <li>
          <a
            class="nav-link"
            [routerLink]="[
              '/admin/adways-digital-marketing/social-media-marketing'
            ]"
            >Social Media Marketing</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/adways-digital-marketing/google-ads']"
            >Google Ads</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/adways-digital-marketing/sms-marketing']"
            >SMS Marketing</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="[
              '/admin/adways-digital-marketing/whatsapp-marketing'
            ]"
            >WhatsApp Marketing</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <div class="iocn-link">
        <a class="nav-link">
          <i class="bx bx-collection"></i>
          <span class="link_name">Graphics Design</span> </a
        ><i class="bx bxs-chevron-down arrow"></i>
      </div>

      <ul class="sub-menu">
        <li><a class="link_name" href="#"> Graphics Design</a></li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/graphics-design/yearly-plan']"
            >Yearly Plan</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/graphics-design/logo-design']"
            >Logo design</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/graphics-design/audio-video-making']"
            >Audio Video Making</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin/graphics-design/printing-services']"
            >Printing Services</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <div class="iocn-link">
        <a class="nav-link">
          <i class="bx bx-collection"></i>
          <span class="link_name">Franchise</span> </a
        ><i class="bx bxs-chevron-down arrow"></i>
      </div>

      <ul class="sub-menu">
        <li><a class="link_name" href="#">Franchise</a></li>
        <li>
          <a class="nav-link" [routerLink]="['/admin/franchise/take-franchise']"
            >Take Franchise</a
          >
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/admin/franchise/give-franchise']"
            >Give Franchise</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" [routerLink]="['/admin/g1-needs']">
        <i class="bx bx-cog"></i>
          <span class="link_name">G1 Needs</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/admin/g1-needs']">G1 Needs</a>
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" [routerLink]="['/admin/finance']">
        <i class="bx bx-cog"></i>
        <span class="link_name">Finance</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/admin/finance']">Finance</a>
        </li>
      </ul>
    </li>

    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" (click)="signOut()">
        <i class="bx bx-cog"></i>
        <span class="link_name">Log Out</span>
      </a>
      <ul class="sub-menu">
        <li><a class="nav-link" (click)="signOut()">Log Out</a></li>
      </ul>
    </li>

    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" [routerLink]="['/admin/test']">
        <i class="bx bx-cog"></i>
        <span class="link_name">Test</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/admin/test']">Test</a>
        </li>
      </ul>
    </li>

  </ul>
</div>

