<div class="sidebar close">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">CodingLab</span>
  </div>
  <ul class="nav-links">
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" [routerLink]="['/admin/dashboard']">
        <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li>
          <a class="nav-link" [routerLink]="['/admin/dashboard']">
            <span class="fs-6 ms-2 d-none d-sm-inline">DASHBOARD</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" [routerLink]="['/admin/invite']">
        <i class="bx bx-grid-alt"></i>
          <span class="link_name">Invite BC</span>
      </a>
      <ul class="sub-menu blank">
        <li>
          <a class="nav-link" [routerLink]="['/admin/invite']">
            <span class="fs-6 ms-2 d-none d-sm-inline">Invite BC</span>
          </a>
        </li>
      </ul>
    </li>
    
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" (click)="signOut()">
        <i class="bx bx-cog"></i>
        <span class="link_name">Log Out</span>
      </a>
      <ul class="sub-menu">
        <li><a class="nav-link" (click)="signOut()">Log Out</a></li>
      </ul>
    </li>

    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" [routerLink]="['/admin/test']">
        <i class="bx bx-cog"></i>
        <span class="link_name">Test</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/admin/test']">Test</a>
        </li>
      </ul>
    </li>

  </ul>
</div>

