<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row justify-content-end">
      <div class="col">
        <h1 class="h2"> Courses That Improve Your Skill Level</h1>
      </div>
        </div>
      </div>
<div class="row">
  <div class="col-12">
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <h5> Basic Maths</h5>
            <div class="card mb-3">
              <img src="kambleshwarlogo - Copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <h5> Basic English</h5>
            <div class="card mb-3">
              <img src="kambleshwarlogo - Copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <h5> Sciece Learning Strategy </h5>
            <div class="card mb-3">
              <img src="kambleshwarlogo - Copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <h5> Enroll For Course </h5>
            <form>
              <div class="col-12">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"> Students Name </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type Name here">
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"> Contact Number </label>
                  <input type="mobile number" class="form-control" id="exampleFormControlInput1" placeholder="type mobile Number here">
                </div>
                <div class="col-12">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"> Full Address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=" type your Address here">
                  </div>
              <label for="exampleFormControlInput1" class="form-label"> Choose The Course </label>
              <select class="form-select" aria-label="Default select example">
                <option selected> select </option>
                <option value="1"> Basic Maths </option>
                <option value="2"> Basic English </option>
                <option value="2"> Sciece Learning Strategy </option>
              </select>
                <div class="col-12">
                <button class="btn btn-primary" type="button"> Submit </button>
                </div>
              </div>
              </div>
              </div>
</form>
          </div>
        </div>