
<div class="home-content">
  <i class="bx bx-menu"></i>
  <span
    ><button type="button" class="btn btn-primary btn-lg">
      Id = ADE231C
    </button></span
  >
  <span
    ><button type="button" class="btn btn-success btn-lg">
      BALANCE= 2352
    </button></span
  >
  <span
    ><button type="button" class="btn btn-danger btn-lg">
      ADD MONEY
    </button></span
  >
  <span
    ><button type="button" class="btn btn-warning btn-lg">
      WITHDRAW MONEY
    </button></span
  >
</div>